PORT=5000
MONGO_URI=mongodb://localhost:27017/smartpfe
FRONTEND_URL=http://localhost:3000
BREVO_API_KEY=your_brevo_api_key_here
EMAIL_FROM=your_email@gmail.com
GOOGLE_CLIENT_ID=your_google_client_id_here
